.container {
  outline: 2px solid red;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    max-width: 767px;
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 1200px;
  }
}
body {
  background-color: getColor("primaryBgc");
  color: getColor("primaryText");
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
