.container {
  // outline: 2px solid red;

  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: getColor("primaryBgc");
  color: getColor("primaryText");
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
