.page-footer {
  background-color: getColor("footerBgc");
  color: getColor("secondaryText");
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
}
.page-footer__contacts {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}
.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__address {
  font-style: normal;
  margin-bottom: 8px;
}
.page-footer__link {
  color: rgba(255, 255, 255, 0.6);

  display: block;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor("accent");
  }
}
.footer-networks {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 103px;
    margin-bottom: 0;
  }
}
.footer-networks__list {
  display: flex;
}
.footer-networks__item:not(:last-child) {
  margin-right: 10px;
}

.footer-networks__title,
.footer-form__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-networks__link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-networks__icon {
  fill: getColor("iconHover");
}

.footer-form {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.footer-form__field {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-form__input {
  padding: 0 0 0 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  min-width: 310px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 20px 12px 0 0;
  }

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:focus {
    color: #fff;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__button {
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.footer-form__icon {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .page-footer__tablet {
    display: flex;

    align-items: baseline;
  }
}
