.skills__list {
  // display: flex;
}

.skills__box {
  // width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.skills__picture {
  @include centeredFlex;

  background-color: getColor("secondaryBgc");
  height: 120px;
  margin-bottom: 30px;
}
.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor("titleText");
  margin-bottom: 10px;
}
