.skills__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      // width: 354px;
      margin: -15px;
    }
  }
}

.skills__box {
  outline: 3px solid yellowgreen;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    // width: 354px;
    margin: 15px;

    flex-basis: calc((100% - (15px * 4)) / 2);
  }
  @media screen and (min-width: 1200px) {
    // width: 270px;

    flex-basis: calc((100% - (15px * 8)) / 4);
  }
}

.skills__picture {
  @include centeredFlex;

  background-color: getColor("secondaryBgc");
  height: 120px;
  margin-bottom: 30px;
}
.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor("titleText");
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
